h1 {
  color:green;
  font-size: 24px;
}
button{
    color: white;
    background-color: blue;
    border-radius: 6px;
}
.button{
    color: white;
    
}
.button:hover{
    background-color: blue;
}
.button:active{
    background-color: red;
}